@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var greetingMessage = "Sitemize hoşgeldiniz..5 gittiniz....";
    var weekDay = DateTime.Now.DayOfWeek; // Haftanın bulunulan gününü geri döndürür.

    var result = greetingMessage + "Bugün günlerden : " + weekDay;
}

<p>
    @result @* Mesaj ekrana yazılıyor *@
</p>
<br />
<hr />
@* Do-While döngüsü *@
<h3>Do-While</h3>
@{
    var sayac = 0;

    while (sayac <= 20)
    {
        <span>Şu an @sayac inci sayıdayım...</span>
        <br />
        sayac++;
    }
}
<br />
<hr />
<h3>Arrays</h3>
@{
    string[] uyeler = { "Üye1", "Üye2", "Üye3", "Üye4", "Üye5" };

    // Belirlenen bir üyenin hangi indexde bulunduğu
    int index = Array.IndexOf(uyeler, "Üye4");

    // dizimin tüm boyutu
    int boyut = uyeler.Length;

    // belirlenen bir indexdeki elemanın içeriği..

    string uye = uyeler[3];
}
@foreach (var eleman in uyeler)
{
    <p><b>Üye Adı : </b>@eleman</p>

}
<br />
<p>Üye listesinin eleman sayısı : @boyut</p>
<p>3. indexdeki eleman : @uye</p>
<p>Üye4 isimli üye @index inci sırada</p>
<br />
<hr />
