@model List<Cars> 
@* Controllerdan gelen veri *@

@{
    ViewData["Title"] = "Cars Page";
}

<div class="text-center">
    <h1>ARABA LİSTESİ</h1>
    <br />
    <hr />
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>BrandName</th>
            <th>Family</th>
            <th>Year</th>
        </tr>
        @* Aşağıdajki kod bloğunda dinamik olarak gelen modelden programmatik olarak table satırları oluşturuluyor *@
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CarId</td>
                <td>@item.BrandName</td>
                <td>@item.Family</td>
                <td>@item.Year</td>
            </tr>
        }



    </table>

</div>